.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.datalist{
    background-color: white;
    border-radius: 15px;
    color: hsl(0, 0%, 59%);
    display: flex;
    flex: 1;
    text-transform: uppercase;
    justify-content: space-evenly;
    margin: 0 10%;
    padding: 10px;
    position: relative;
    top: 80px;
    height: 100px;

    z-index: 2;
}

.data h4{
    font-weight: 700;
    letter-spacing: 2px;
}
.data p{
    color: hsl(0, 0%, 17%);
    font-weight: 700;
}

html,body{
    background-image: url("images/pattern-bg.png");
    height: 100%;
    max-width: 1440px;
    overflow: hidden;
    width: 100%;
}

input{
    font-size: 18px;
    width: 30%;
}

input, button{
    border-radius: 15px;
    border-width: 0;
    margin: 0;
    padding: 15px;
}
h1{
    color: white;
    font-weight: 500;
}

#mapid{
    position: absolute;
    height: 75%;
    width: 100%;
    z-index: 1;
}


@media (max-width: 900px){
    .datalist{
        flex-direction: column;
        height: 30%;
    }
    .data h4{
        margin: 0;
    }
    .data p:last-child{
        margin-bottom: 0;
    }
}